body {
  background: #808080;
  color: #FFF;
  margin: 8px 0px;
  text-align: center;
}

.nav_links > a {
  background: #C0C0C0;
  color: #FFF;
  padding: 5px;
  text-decoration: none;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.main {
  background: #C0C0C0;
  padding: 15px 0px 15px;
  width: 100%;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#signup > a {
  color: #FFF;
}

.lists {
  list-style-type: none;
  margin-left: 100px;
  text-align: left;
}

.lists a {
  color: #FFF;
  text-decoration: none;
}

.lists a:hover {
  color: #FFF;
  text-decoration: underline;
}

.inner_lists li {
  margin: 0px;
  padding-bottom: 10px;
}

.labels {
  font: 30px;
  padding: 0px 0px 5px;
}

ul {
  list-style-type: none;
}

.buttons {
  display: inline;
}

.buttons input {
  margin-bottom: 20px;
}
