<h1><%= @user.username %>'s Journal</h1>

<br></br>

<div class="lists">
  <ul>
  <% @user.games.each do |game| %>
    <li><b><%= game.title %></b>
      <ul>
        <li>On: <%= game.platforms[0].name %></li>
        <% if game.notes = "" %>
          <li>No notes :(</li>
        <% else %>
          <li><%= game.notes %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
  </ul>
</div>
