<h1 class="main">Create an account below!</h1>

<br></br>

<form method="POST" action="/signup">
  <h2><label for="username">Username: </label><input type="text" name="username" id="username"></h2>
  <h2><label for="email">Email: </label><input type="text" name="email" id="email"></h2>
  <h2><label for="password">Password: </label><input type="password" name="password" id="password"></h2>
  <input type="submit" value="Sign Up">
</form>

<br></br>

<h3 id="signup">Already have an account? <a href="/login">Click here to log in!</a></h3>
