<h1 class="main"><%= @game.title %></h1>

<br></br>

<ul>
  <% @game.each do |game| %>
    <!-- <li><b><%= game.title %></b>
      <ul> -->
        <li>On: <%= game.platforms[0] %></li>
        <li><%= game.notes %></li>
      <!-- </ul>
    </li> -->
  <% end %>
</ul>
