<h1><%= @user.username %>'s Journal</h1>

<br></br>

<ul>
  <% @user.games.each do |game| %>
    <li><b><%= game.title %></b>
      <ul>
        <li><%= game.platforms[0] %></li>
        <li><%= game.notes %></li>
      </ul>
    </li>
  <% end %>
</ul>
