<!-- <div class="nav_links">
  <% if logged_in? %>
    <a href="/users/<%= @current_user.slug %>">User Page</a><br>
  <% end %>
</div> -->

<h1 id="welcome">Welcome to GameJournal</h1><br>

<h2>Other Users and their Games</h2>

<br></br>

<div class="lists">
  <!-- <ul> -->
    <% @users.each do |user| %>
      <h3><b><%= user.username %></b></h3>
        <ul>
          <% user.games.each do |game| %>
            <li><a href="/games/<%= game.slug %>"><%= game.title %></a></li><br>
          <% end %>
        </ul>
      <!-- </li><br> -->
    <% end %>
  <!-- </ul> -->
</div>
