<h1>Welcome to GameJournal</h1><br>

<% if logged_in? %>
  <a href="/users/<%= @current_user.slug %>">User Page</a><br>
  <a href="/logout">Logout</a><br>
<% else %>
  <a href="/signup">Sign Up!</a><br>
  <a href="/login">Log In!</a><br>
<% end %>

<h2>Other Users and their Games</h2>

<br></br>

<ul>
  <% @users.each do |user| %>
    <li><b><%= user.username %></b>
      <ul>
        <% user.games.each do |game| %>
          <li><a href="/games/<%= game.slug %>"><%= game.title %></a></li><br>
        <% end %>
      </ul>
    </li><br>
  <% end %>
</ul>
